
.root{
   
    -fx-base: rgb(95, 95, 95);
    -fx-background: rgb(95, 95, 95);
}

.text{
   -fx-font: 30px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, darkgreen 10%, white 150%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}
.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}